.todo-list {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #f1f1f1;

    caption {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .todo-item {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 12px;
        font-size: 1.2em;
    }
  
    .going {
      cursor: pointer;
    }
  
    .done {
      background-color: #f5f5f5;
    }
  
    .todo-going {
      color: chocolate;
    }
  
    .todo-done {
      color: #7f7f7f;
    }
  }